.header-img {
  position: relative;
}
  
.image {
  max-height: 100vh;
  width: 100%;
  filter: brightness(35%);
}
  
.header-text {
  position: absolute;
  top: 3%;
  left: 15%;
  font-weight: $font-weight-black;
  color: $color-light;
  text-transform: uppercase;
  z-index: 5;
}
  
.header-text h1 {
  font-size: 30px;
  word-spacing: 5px;
  letter-spacing: 7px;
}
  
.header-text p {
  letter-spacing: 3px;
  margin-top: -20px;
}
  
.nav-ul {
  position: absolute;
  top: 5%;
  right: 15%;
    
  li {
    display: inline-block;
  }
  
  a{
    filter: brightness(60%);
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    margin-left: 30px;
      
    &:hover {
      filter: brightness(100%);
    }
  }
}

.hamburger {
  position: absolute;
  top: 5%;
  right: 3%;
  color: $color-light;
  display: block;
  margin-left: auto;
  padding: 0 30px;
  line-height: 60px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 5;
}

.banner {
  position: absolute;
  top: 35%;
  left: 15%;
  right: 15%;
}

.banner-text {
  font-size: 85px;
  text-align: center;
  margin: 0;
}

.baner-line {
  position: absolute;
  left: 50%;
  margin-top: 5%;
  transform: translateX(-50%);
  width: 25%;
  border-bottom: 5px solid $color-gold;
  text-align: center;
}
  
.box-btn {
  position: absolute;
  bottom: 3%;
  left: 50%;
  color: $color-light;
}
  
.box-btn h2 {
  transform: translate(-50%,-50%);
  font-weight: $font-weight-regular;
  font-size: 25px;
  color: $color-light;
}
  
.box-btn i {
  font-size: 33px;
  transform: translate(-50%,-50%);
}