.products-wrapper {
  position: relative;
}

.title-products {
  width: 40%;
  border-bottom: 5px solid $color-gold;
  height: 70px;
  margin: 0 auto; 
}

.container {
  margin: 60px auto ;
  width: 90%;
}

.products-widget {
  [class^="skill-"] {
    position: relative;  
  }

  .skill-image {
    position: absolute;
    width: 47%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 22px 14px rgba(210, 209, 209, 1);
    -moz-box-shadow: 0px 0px 22px 14px rgba(210, 209, 209, 1);
    box-shadow: 0px 0px 22px 14px rgba(210, 209, 209, 1);
  }

  .skill-image img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .skill-right .skill-image {
    right: 0;
  }

  .skill-right .skill-description {
    padding: 36px 55% 36px 2%;
    text-align: left;
  }

  .price-box {
    position: absolute;
    left: 88%;
    z-index: 100;
  }

  .triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 230px 150px 0;
    border-color: transparent $color-gold transparent transparent;
    z-index: 90;
  } 

  .price {
    color: $color-light;
    font-weight: $font-weight-bold;
    z-index: 10;
  }

  .old {
    font-size: 18px;
    text-decoration: line-through;
  }

  .new {
    margin: -30%;
    font-size: 36px;
    padding-left: 70%;
  }

  .title {
    font-weight: $font-weight-bold;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .border-line {
    margin-top: 2%;
    border-top: 3px solid $color-gold;
  }

  .description {
    line-height: 19px;
  }

  .specification {
    padding-top: 12%;
    font-size: 20px;
    font-weight: $font-weight-bold;

    span{
      color: $color-gold;
    }
  }

  .row {
    position: relative;
  }

  .most-popular {
    position: absolute;
    left: 60%;
    top: 40%;
    transform: scale(1.4);
  }
}

.products-widget:nth-child(even){
  .skill-description {
    padding: 30px 0 36px 55%;
    text-align: left;
  }

  .skill-right .skill-image {
    left: 0;
  }
 
  .price-box {
    position: absolute;
    left: 3%;
    z-index: 100;
  }

  .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 230px 0 0;
    border-color: $color-gold transparent transparent transparent;
    z-index: 90; 
  }
  
  .old {
    font-size: 18px;
    text-decoration: line-through;
  }

  .new {
    margin: -30%;
    font-size: 36px;
    //padding-left: 70%;
  }
}